header {
    text-align: center;
}

h1, h2 {
    color: #efa27c;
    text-decoration: underline;
}
h3 {
    color: #efa27c;
}

hr {
    border-bottom: #6b6a6a;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.coffee {
    margin: 30px;
    display: flex;
    align-items: baseline;
    /*background: lightcoral;*/
    min-width: 40%;
    background-color: #ffffff99;
}

.roast {
    margin: 16px;
}



.main-container {
    display: flex;
    margin: 0 auto;
    width: 100vw;
}

.coffee-name {
    font-size: x-large;
    padding-left: 1rem;
    /*background: greenyellow;*/
}

#coffees-container {
    /*background: magenta;*/
    min-width: 50%;
    display: flex;
    flex-wrap: wrap;
}


/* FORM COMPONENTS*/
.form-container {
    background-color: rgba(128, 128, 128, 0.51);

}

form {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    min-width: 50%;
}

label {
    font-weight: bold;
    margin: .5rem 0;
    color: #efa27c
}

select {
    font-size: 1.2rem;
    padding: .5rem;
    margin-bottom: 1rem;
}

input {
    font-size: 1.2rem;
    padding: .5rem;
    margin-bottom: 1rem;
    /*box-shadow: 0 0 5px rgb(255, 255, 255);*/
    border: 1px solid rgb(0, 0, 0);
}

/*input:focus {*/
/*    box-shadow: 3px 0px 0px 0px  #1b77b9 ;*/
/*}*/

input[type=text]:focus, textarea:focus, input[type=text]:hover, textarea:hover {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgb(0, 0, 0);
}

#submit {
    background-color: #1b77b9;
    color: #fff;
    border-radius: 4px;
}

img {
    height: 8em;
    width: 20em;
}

#pour {
    z-index: -1;
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    object-fit: cover;
    opacity: 50;
}



/*@media screen and (max-width: 700px) {*/
/*    body {*/
/*        background: blue;*/
/*    }*/
/*    div {*/
/*        flex-basis: 33.333%;*/
/*    }*/
/*}*/



