* {
    box-sizing: inherit;
}

header {
    text-align: center;
}

h1, h2 {
    color: #efa27c;
    text-decoration: underline;
}
h3 {
    color: #efa27c;
}

hr {
    border-bottom: #6b6a6a;
}

.main-container {
    display: flex;
    margin: 0 auto;
    width: 100vw;
}

/**
    Coffee Container
 */
#coffees-container {
    /*background: magenta;*/
    margin-right: 400px;
    min-width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.coffee {
    margin: 30px;
    width: 250px;
    height: 50px;
    background-color: #ffffff99;
    /*border-radius: 50%;*/

    display: flex;
    align-items: baseline;
}
.coffee-name {
    font-size: x-large;
    padding-left: 1rem;
}
.roast {
    margin: 16px;
}


/*
    FORM COMPONENTS
*/
.form-container {
    background-color: rgba(128, 128, 128, 0.51);
    /*margin-left: 10em;*/
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;

    position: absolute;
    top: 50px;
    right: 150px;
}

label {
    font-weight: bold;
    margin: .5rem 0;
    color: #efa27c
}

select {
    font-size: 1.2rem;
    padding: .5rem;
    margin-bottom: 1rem;
}

input {
    font-size: 1.2rem;
    padding: .5rem;
    margin-bottom: 1rem;
    /*box-shadow: 0 0 5px rgb(255, 255, 255);*/
    border: 1px solid rgb(0, 0, 0);
}

#submit {
    background-color: #1b77b9;
    color: #fff;
    border-radius: 4px;
}

img {
    height: 8em;
    width: 20em;
}

#pour {
    z-index: -1;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100vw;
    object-fit: cover;
    opacity: 50;
}



/*@media screen and (max-width: 700px) {*/
/*    body {*/
/*        background: blue;*/
/*    }*/
/*    div {*/
/*        flex-basis: 33.333%;*/
/*    }*/
/*}*/



